.banner-logo {
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 430px) {
    .banner-logo {
        top: 40px;
    }
}

.responsive-logo {
    max-width: 300px;
}

@media (max-width: 700px) {
    .responsive-logo {
        position: absolute;
        top : -35px;
        max-width: 200px;
    }
}

.custom-navigation {
    position: fixed;
    background-color: #318853;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.last-nav {
    margin-right: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .custom-navigation {
        margin-right: 20px;
    }
}

.banner-title {
    position: absolute;
    top: 290px;
    left: 50px;
}

.banner-page {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner-page h1 {
    color: white;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .newsletter-section {
        background: url("../../img/box.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .newsletter-content {
        padding: 100px 120px 120px 120px;
    }
}

@media (max-width: 1199px) {
    .newsletter-section {
        border: 5px solid #346299;
        border-radius: 40px;
    }
    .newsletter-content {
        padding: 20px;
    }
}

.content-input {
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    background-color: #e7e7e7;
    padding: 5px;
    width: 100%;
}

.content-button {
    border: 0px;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 20px 5px 20px;
}

.newsletter-content button {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .content-button {
        width: 100%;
    }
    .newsletter-content button {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media (min-width: 1210px) {
    .footer-logo {
        position: relative;
        bottom: 70px;
    }
    .footer-address {
        position: relative;
        bottom: 32%;
    }
}

.footer-column a {
    color: white;
    font-size: 12px;
}

.footer-column h6 {
    font-size: 14px;
    font-weight: 600;
}

.footer-column p {
    font-size: 10px;
    margin: 0px;
}

.footer-column input {
    border: 0px;
    border-radius: 5px;
    font-size: 10px;
}

.footer-column .social-media {
    padding: 20px 20px 20px 0px;
}

.copyright {
    margin-top: 5px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

/* @media (max-width: 767px) {
    .block-edan {
        width: 180px;
    }
} */


.eoXEfb {
    display: none !important;
}
.image-responsive {
    width: 70%;
    margin-left: -20px;
}

@media (max-width: 767px) {
    .image-responsive {
        width: 50%;
    }
}

.background-dynamic {
    background-image: url("../../img/Banner.jpg");
}

@media (max-width: 767px) {
    .background-dynamic {
        background-image: url("../../img/banner_mobile.jpeg");
    }
}

.color-responsive {
    margin-left: -20px;
    font-family: Kanit;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    color: #328953;
}

@media (max-width: 767px) {
    .color-responsive {
        margin-left: -20px;
        font-family: Kanit;
        font-size: 28px;
        font-style: normal;
        font-variant: normal;
        font-weight: 800;
        color: #ffff;
    }
}
